@model WeddingShare.Views.MediaViewer.Popup

<div id="media-viewer-popup" style="opacity: 0;">
    <div class="media-viewer" data-media-viewer-index="1" data-media-viewer-collection="@Model.Collection">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <div class="media-viewer-title">@Model.Title</div>
        }
        <div class="media-viewer-content">
            <img class="media-viewer-image" src="@(Model.Type.Equals("Image", StringComparison.OrdinalIgnoreCase) ? Model.Source : Model.Thumbnail)" onload="initMediaViewImage('@Model.Type.ToLower()', '@Model.Source');" />
        </div>
        <div class="media-viewer-description mt-1 mx-0">
            <div class="row">
                <div class="col-7 col-lg-8 media-viewer-author">
                    <span class="mx-1">@Model.Author</span>
                </div>
                <div class="col-5 col-lg-4 media-viewer-likes">
                    @if (Model.Likes != null)
                    {
                        <div class="float-end">
                            <div id="like-button" class="input-group input-group-xs">
                                <div class="input-group-text text-primary bg-white border-primary">
                                    <span class="lbl-like-count w-px-50 text-center">@Model.Likes.Count</span>
                                </div>
                                <button class="btn btn-outline-primary like-button @(Model.Likes.HasUserLiked ? "like-button-active" : string.Empty)" onclick="@(Model.Likes.CanUserLike ? $"like({Model.Id});" : "loginPrompt();")" data-action="@(Model.Likes.HasUserLiked ? "unlike" : "like")">
                                    <i class="fa fa-thumbs-up"></i>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="media-viewer-description mt-2">@Model.Description</div>
        }
        <div class="media-viewer-options">
            @if (Model.DownloadEnabled)
            {
                <i class="fa fa-download" onclick="download('@Model.Source');"></i>
            }
            <i class="fa fa-close" onclick="hideMediaViewer();"></i>
        </div>
    </div>
</div>